<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs</title>
  </head>
  <body>
    <ul>
      <% for (let i in arr){ %>
      <li><%= arr[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
